################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CadastroApi/CadastroApi/appsettings.Development.json
